[Desktop Entry]
Name=Expenses Docker Stop
Comment=Ferma i container Docker esistenti
Exec=bash -c "docker stop expenses-backend expenses-database"
Icon=armagetron
Terminal=false
Type=Application
Categories=Utility;
