{% extends "base_account.html" %}

{% block title %}Account: {{ account.name }}{% endblock %}

{% block content %}


<div class="cards-stack">
    <div class="card card-area-main card-large">
        <div class="card-header">
            <h1>Date Range Analytics</h1>
            <div style="margin-left: auto;">
                <form id="date-filter-form" class="minimal-form">
            </div>

            <div class="form-row">
                <div class="form-col">
                    <label for="start-date">Start Date</label>
                    <input type="date" id="start-date" name="start_date" value="{{ period_stats.start_date }}">
                </div>
                <div class="form-col">
                    <label for="end-date">End Date</label>
                    <input type="date" id="end-date" name="end_date" value="{{ period_stats.end_date }}">
                </div>
                <div class="form-col">
                    <button type="submit" class="btn btn-ghost btn-sm">Filter</button>
                </div>
            </div>
            </form>
        </div>
        <div class="card-body">
            <div class="cards-flex-grid">
                <div class="chart-card stat-card card-span-6 card-row-span-2">
                    <div class="card-body">
                        <h4>📈 Monthly Net Balace</h4>
                    </div>
                    <div class="card-header">
                        <canvas id="monthlyNetBalance"></canvas>
                    </div>
                </div>

                <div class="chart-card stat-card card-span-6 card-row-span-2">
                    <div class="card-body">
                        <h4>📊 Monthly Income vs Outcome</h4>
                    </div>
                    <div class="card-header">
                        <canvas id="incomeVsExpenseChart"></canvas>
                    </div>
                </div>

                <div class="chart-card stat-card card-span-6 card-row-span-1">
                    <div class="card-body">
                        <h4>📊 Saving Rate [%]</h4>
                    </div>
                    <div class="card-header">
                        <canvas id="savingRateChart"></canvas>
                    </div>
                </div>

                <div class="stat-card card-span-2 card-row-span-1">
                    <div class="card-header">
                        <h2>Total information</h2>
                    </div>

                    <div class="cards-stack card-body">
                        <div class="stat-card">
                            <div class="card-header">
                                <h3>💸 Total Income</h3>
                            </div>
                            <div class="card-body">
                                <p id="stat-income" class="stat-value negative">€ </p>
                            </div>
                        </div>

                        <div class="stat-card">
                            <div class="card-header">
                                <h3>💸 Total Expenses</h3>
                            </div>
                            <div class="card-body">
                                <p id="stat-expense" class="stat-value negative">€ </p>
                            </div>
                        </div>

                        <div class="stat-card">
                            <div class="card-header">
                                <h3>💰 Net balance</h3>
                            </div>
                            <div class="card-body">
                                <p id="stat-balance" class="stat-value">€ </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="stat-card card-span-2 card-row-span-1">
                    <div class="card-header">
                        <h2>Monthly information</h2>
                    </div>

                    <div class="cards-stack card-body">
                        <div class="stat-card">
                            <div class="card-header">
                                <h3>📈 Mean monthly income</h3>
                            </div>
                            <div class="card-body">
                                <span id="stat-avg-income"></span>
                            </div>
                        </div>

                        <div class="stat-card">
                            <div class="card-header">
                                <h3>📉 Mean monthly expenses</h3>
                            </div>
                            <div class="card-body">
                                <span id="stat-avg-expense"></span>
                            </div>
                        </div>

                        <div class="stat-card">
                            <div class="card-header">
                                <h3>📉 Mean net-balance monthly </h3>
                            </div>
                            <div class="card-body">
                                <span id="stat-avg-net-balance-monthly"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="stat-card card-span-2 card-row-span-1">
                    <div class="card-header">
                        <h2>Counts</h2>
                    </div>

                    <div class="cards-stack card-body">
                        <div class="stat-card">
                            <div class="card-header">
                                <h3>📊 Used Transactions for analytics in current period</h3>
                            </div>
                            <div class="card-body">
                                <p id="stat-transactions" class="stat-value"></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="chart-card stat-card card-span-4 card-row-span-1">
                    <div class="card-body">
                        <h4>💸 Category Expenses</h4>
                    </div>
                    <div class="card-header">
                        <canvas id="expenseByCategory"></canvas>
                    </div>
                </div>

                <div class="chart-card stat-card card-span-4 card-row-span-1">
                    <div class="card-body">
                        <h4>💰 Category Income</h4>
                    </div>
                    <div class="card-header">
                        <canvas id="incomeByCategory"></canvas>
                    </div>
                </div>

                <div class="chart-card stat-card card-span-4 card-row-span-1">
                    <div class="card-body">
                        <h4>💸 Macro Category Expenses</h4>
                    </div>
                    <div class="card-header">
                        <canvas id="expenseByMacroCategory"></canvas>
                    </div>
                </div>

                <div class="chart-card stat-card card-span-6 card-row-span-1">
                    <div class="card-body">
                        <h4>📊 Category analyzer</h4>

                        <label for="category_select">Category</label>
                        <select id="category_select" name="category_id">
                            <option value="">-- Select a Category --</option>
                            {% for category in categories %}
                            <option value="{{ category.id }}" {% if loop.first %}selected{% endif %}>{{
                                category.category }} - {{ category.macro_category }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="card-header">
                        <canvas id="categoryAnalyzerChart"></canvas>
                    </div>
                </div>

                <div class="chart-card stat-card card-span-6 card-row-span-1">
                    <div class="card-body">
                        <h4>📊 Tag analyzer</h4>

                        <label for="tag">Tag</label>
                        <select id="tag_select" name="tag_name">
                            <option value="">-- Select a Tag --</option>
                            {% for tag in tags %}
                            <option value="{{ tag }}" {% if loop.first %}selected{% endif %}>{{ tag }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="card-header">
                        <canvas id="tagAnalyzerChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h1>Budget for current year</h1>
    </div>
    <div class="card-body">
        <div class="cards-flex-grid">
            {% for budget in budgets %}
            <div class="stat-card card-span-4 card-row-span-1">
                <div class="progress-container" style="margin-bottom: 20px;">
                    <span class="card-header progress-label">{{budget.label}} for {{budget.year}} | remaining: {{
                        "{:.2}" | format(budget.limit - budget.value) }} €</span>
                    <div class="card-body progress-bar">
                        {% if budget.percentage < 85 %} <div class="progress-fill success"
                            style="width: {{budget.percentage}}%">
                    </div>
                    {% elif budget.percentage <= 100 %} <div class="progress-fill warning"
                        style="width: {{budget.percentage}}%">
                </div>
                {% else %}
                <div class="progress-fill danger" style="width: {{budget.percentage}}%"></div>
                {% endif %}
            </div>
            <div style="display: flex; justify-content: space-between; margin-top: 8px;">
                <span class="progress-value">{{"{:.2}" | format(budget.value)}} €</span>
                <span style="font-size: 14px; color: var(--color-label);">of {{budget.limit}} €</span>
            </div>
            {% if budget.percentage < 85 %} <span class="status-badge success">Healty</span>
                {% elif budget.percentage <= 100 %} <span class="status-badge warning">Watch Out</span>
                    {% else %}
                    <span class="status-badge danger">Overspent</span>
                    {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
</div>
</div>

<script type="module">
    import { createLineChart, createPieChart, createMultiLineChart, createMultiLineChartWithStats } from "/static/js/charts.js";

    const parseNum = (val) => {
        const n = Number(val);
        return isNaN(n) ? 0 : n;
    };

    const formatEur = (val) => `€ ${parseNum(val).toFixed(2)}`;

    function savingRate(income, expenses) {
        if (income === 0) return 0;
        return ((income + expenses) / income) * 100;
    }


    function formatDiff(val, diff, perc_diff) {
        const positive = perc_diff >= 0;
        const sign = positive ? "+" : "";
        const cssClass = positive ? "positive" : "negative";
        return `
        ${formatEur(val)}
        <sup class="${cssClass}">${sign}${perc_diff.toFixed(1)}% : ${formatEur(diff)}</sup>
    `;
    }

    async function update_charts() {
        const accountId = document.body.dataset.accountId;

        const monthlyNetBalanceId = "monthlyNetBalance";
        const multiLineId = "incomeVsExpenseChart";
        const saveRateId = "savingRateChart";

        const incomePieId = "incomeByCategory";
        const expensePieId = "expenseByCategory";
        const expenseByMacroCategory = "expenseByMacroCategory";

        const start = document.getElementById("start-date").value;
        const end = document.getElementById("end-date").value;

        if (!start || !end) return alert("Seleziona entrambe le date");

        try {
            const res = await fetch(`/accounts/${accountId}/charts?start=${start}&end=${end}`);
            if (!res.ok) throw new Error("Unable to retrieve charts data");

            const data = await res.json();

            createLineChart(monthlyNetBalanceId, data.monthly_labels, data.monthly_income.map((val, i) => val + data.monthly_expenses[i]), "net-balance");
            createMultiLineChartWithStats(multiLineId, data.monthly_labels, [
                { label: "Income", data: data.monthly_income },
                { label: "Outcome", data: data.monthly_expenses }
            ]);
            createLineChart(saveRateId, data.monthly_labels, data.monthly_income.map((val, i) => savingRate(val, data.monthly_expenses[i])), "Save Rate [%]");


            createPieChart(incomePieId, data.income_categories, data.income_values);
            createPieChart(expensePieId, data.expense_categories_category, data.expense_values_category);
            createPieChart(expenseByMacroCategory, data.expense_categories_macrocategory, data.expense_values_macrocategory);


            document.getElementById("stat-income").textContent = formatEur(data.income);
            document.getElementById("stat-expense").textContent = formatEur(data.expenses);
            document.getElementById("stat-balance").textContent = formatEur(data.net_balance);
            document.getElementById("stat-transactions").textContent = `${data.transactions_count_used} / ${data.transactions_count}`;

            document.getElementById("stat-avg-income").textContent = formatEur(data.mean_monthly_income);
            document.getElementById("stat-avg-expense").textContent = formatEur(data.mean_monthly_expenses);
            document.getElementById("stat-avg-net-balance-monthly").textContent = formatEur(data.mean_monthly_income + data.mean_monthly_expenses);

            document.getElementById("stat-avg-income").innerHTML =
                formatDiff(data.mean_monthly_income, data.mean_income_increment, data.mean_income_increment_percentage);

            document.getElementById("stat-avg-expense").innerHTML =
                formatDiff(data.mean_monthly_expenses, data.mean_expenses_increment, data.mean_expenses_increment_percentage);

            document.getElementById("stat-avg-net-balance-monthly").innerHTML =
                formatDiff(data.mean_monthly_net_balance, data.mean_net_balance_increment, data.mean_net_balance_increment_percentage);



        } catch (err) {
            console.error(err);
            alert("Unable to update charts...");
        }
    }

    const form = document.getElementById("date-filter-form");

    form.addEventListener("submit", async (e) => {
        e.preventDefault();

        await update_charts();
    });

    update_charts();

</script>

<script type="module">
    import { createLineChart } from "/static/js/charts.js";

    const categorySelect = document.getElementById("category_select");
    const categoryChartId = "categoryAnalyzerChart";
    const accountId = document.body.dataset.accountId;

    async function updateCategoryChart() {
        const categoryId = categorySelect.value;
        if (!categoryId) return;

        const start = document.getElementById("start-date").value;
        const end = document.getElementById("end-date").value;

        if (!start || !end) return;

        try {
            const res = await fetch(`/accounts/${accountId}/category/${categoryId}/chart?start=${start}&end=${end}`);
            if (!res.ok) throw new Error("Unable to retrieve category chart data");

            const data = await res.json();
            createLineChart(categoryChartId, data.labels, data.values, "Category analysis");
        } catch (err) {
            console.error(err);
            alert("Unable to update category chart...");
        }
    }

    categorySelect.addEventListener("change", updateCategoryChart);

    document.getElementById("start-date").addEventListener("change", updateCategoryChart);
    document.getElementById("end-date").addEventListener("change", updateCategoryChart);

    document.getElementById("date-filter-form").addEventListener("submit", async (e) => {
        e.preventDefault();
        await updateCategoryChart();
    });

    updateCategoryChart();
</script>

<script type="module">
    import { createLineChart } from "/static/js/charts.js";

    const tagSelect = document.getElementById("tag_select");
    const tagChartId = "tagAnalyzerChart";
    const accountId = document.body.dataset.accountId;

    async function updateTagChart() {
        const tag = tagSelect.value;
        if (!tag) return;

        const start = document.getElementById("start-date").value;
        const end = document.getElementById("end-date").value;

        if (!start || !end) return;

        try {
            const res = await fetch(`/accounts/${accountId}/tag/${tag}/chart?start=${start}&end=${end}`);
            if (!res.ok) throw new Error("Unable to retrieve tag chart data");

            const data = await res.json();
            createLineChart(tagChartId, data.labels, data.values, "Tag analysis");
        } catch (err) {
            console.error(err);
            alert("Unable to update category chart...");
        }
    }

    tagSelect.addEventListener("change", updateTagChart);

    document.getElementById("start-date").addEventListener("change", updateTagChart);
    document.getElementById("end-date").addEventListener("change", updateTagChart);

    document.getElementById("date-filter-form").addEventListener("submit", async (e) => {
        e.preventDefault();
        await updateTagChart();
    });

    updateTagChart();
</script>

{% endblock %}