{% extends "base_account.html" %}

{% block title %}Transactions for {{ account.name }}{% endblock %}

{% block content %}
<div class="cards-stack">
    <div class="card">
        <div class="card-header">
            <button id="open-hidden-modal" class="btn btn-primary">
                <span class="btn-icon">+</span>
            </button>
        </div>
        <div class="card-body">
            <input type="text" id="table-global-filter" placeholder="🔍 Find..." />
            <div id="transactions-table" class="tabulator custom-theme"></div>
        </div>
    </div>
</div>

<div id="hidden-modal" class="modal hidden">
    <div class="card card-elevated modal-card">
        <div class="card-header">
            <h2>Add New Transaction</h2>
            <button id="close-hidden-modal" class="btn btn-ghost btn-icon-only">×</button>
        </div>
        <div class="card-body">
            <form class="minimal-form" method="post" action="/accounts/{{ account.id }}/transactions">

                <div class="form-row">
                    <label for="tx-description">Description</label>
                    <input id="tx-description" type="text" name="description" required>
                </div>

                <div class="form-row">
                    <label for="tx-value">Value</label>
                    <input id="tx-value" type="number" step="0.01" name="value" required>
                </div>

                <div class="form-row">
                    <label for="tx-perc">Perc to Exclude</label>
                    <input id="tx-perc" type="number" step="0.01" name="perc_to_exclude" value="0">
                </div>

                <div class="form-row">
                    <label for="tx-label">Label</label>
                    <input id="tx-label" type="text" name="label">
                </div>

                <div class="form-row">
                    <label for="tx-date">Date</label>
                    <input id="tx-date" type="datetime-local" name="date" required>
                </div>

                <div class="form-row">
                    <label for="tx-category">Category</label>
                    <select id="tx-category" name="category_id">
                        <option value="">-- Select a Category --</option>
                        {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.category }} - {{ category.macro_category }}
                        </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-row">
                    <button type="submit" class="btn-submit">Add Transaction</button>
                </div>

            </form>
        </div>
    </div>
</div>

<script type="module">
    import { initTable, deleteFromTable } from "/static/js/tables.js";
    import { initHiddenModal } from "/static/js/modals.js";

    initHiddenModal("open-hidden-modal", "hidden-modal", "close-hidden-modal");

    const data = [
        {% for t in transactions %}
    { id: "{{ t.txt.id }}", date: "{{ t.txt.date }}", description: "{{ t.txt.description }}", category_name: "{{ t.category_name }}", value: "{{ t.txt.value }} €", perc_to_exclude: "{{ t.txt.perc_to_exclude }} %" },
    {% endfor %}
  ];

    const columns = [
        { title: "Date", field: "date", sorter: "date", hozAlign: "center" },
        { title: "Description", field: "description", sorter: "string" },
        { title: "Category", field: "category_name", sorter: "string" },
        { title: "Value", field: "value", sorter: "number" },
        { title: "Excluded percentage", field: "perc_to_exclude", sorter: "number" },
        {
            title: "",
            hozAlign: "center",
            width: 60,
            formatter: () => `<button class="delete-btn">💀</button>`,
            cellClick: (e, cell) => {
                const rowData = cell.getRow().getData();
                const row = cell.getRow();

                const path = `/transactions/${rowData.id}`;
                const message = `Sei sicuro di voler eliminare questa transazione?`;

                deleteFromTable(path, message, row);
            }
        }
    ];

    const table = initTable("#transactions-table", columns, data);

    document.getElementById("table-global-filter").addEventListener("keyup", function () {
        const val = this.value.toLowerCase();
        table.setFilter([
            [
                { field: "date", type: "like", value: val },
                { field: "description", type: "like", value: val },
                { field: "category_name", type: "like", value: val },
                { field: "value", type: "like", value: val },
                { field: "perc_to_exclude", type: "like", value: val },
            ]
        ]);
    });
</script>
{% endblock %}