<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}My App{% endblock %}</title>
    <link href="https://unpkg.com/tabulator-tables@6.3.0/dist/css/tabulator.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/luxon@3/build/global/luxon.min.js"></script>
    <script src="https://unpkg.com/tabulator-tables@6.3.0/dist/js/tabulator.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="module" src="/static/js/tables.js"></script>

    <link rel="stylesheet" href="/static/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body {% block body_attrs %}{% endblock %}>
    <nav class="navbar">
        <div class="navbar-left">
            <div class="theme-switch-wrapper">
                <span class="icon">☀️</span>
                <label class="theme-switch">
                    <input type="checkbox" id="theme-toggle">
                    <span class="slider"></span>
                </label>
                <span class="icon">🌙</span>
            </div>
        </div>

        <div class="navbar-center">
            <a href="/accounts" {% if menu=="accounts" %}class="active" {% endif %}>Accounts</a>
            <a href="/budgets" {% if menu=="budgets" %}class="active" {% endif %}>Budgets</a>
            <a href="/categories" {% if menu=="categories" %}class="active" {% endif %}>Categories</a>
            <a href="/rules" {% if menu=="rules" %}class="active" {% endif %}>Rules</a>
            <a href="/utilities" {% if menu=="utilities" %}class="active" {% endif %}>Utilities</a>
        </div>
        <div class="navbar-right"> {% block navbar_right %}…{% endblock %} </div>
    </nav>

    {% block sub_navbar %}{% endblock %}

    <main class="content">
        {% block content %}{% endblock %}
    </main>

    <script>
        const toggle = document.getElementById('theme-toggle');

        const savedTheme = localStorage.getItem('theme') || 'light';
        document.documentElement.setAttribute('data-theme', savedTheme);
        toggle.checked = savedTheme === 'dark';

        toggle.addEventListener('change', (e) => {
            const theme = e.target.checked ? 'dark' : 'light';
            document.documentElement.setAttribute('data-theme', theme);
            localStorage.setItem('theme', theme);
        });
    </script>


</body>

</html>