{% extends "base.html" %}

{% block title %}Budgets{% endblock %}

{% block content %}

<div class="cards-dashboard">
    <div class="card card-area-main card-large">
        <div class="card-header">
            <input type="text" id="table-global-filter" placeholder="🔍 Find..." />
        </div>

        <div class="card-body">
            <div id="budgets-table" class="tabulator custom-theme"></div>
        </div>
    </div>
</div>

<script type="module">
    import { initTable, deleteFromTable } from "/static/js/tables.js";

    const data = [
        {% for budget in budgets %}
    { id: "{{ budget.model.id }}", name: "{{ budget.model.name }}", value: "{{ budget.model.value }}", account_name: "{{ budget.account_name }}" },
    {% endfor %}
  ];

    const columns = [
        { title: "Name", field: "name", sorter: "string" },
        { title: "Value", field: "value", sorter: "number" },
        { title: "Account", field: "account_name", sorter: "string" },
        {
            title: "",
            hozAlign: "center",
            width: 60,
            formatter: () => `<button class="delete-btn">💀</button>`,
            cellClick: (e, cell) => {
                const rowData = cell.getRow().getData();
                const row = cell.getRow();

                const path = `/budgets/${rowData.id}`;
                const message = `Sei sicuro di voler eliminare questo budget?`;

                deleteFromTable(path, message, row);
            }
        }
    ];

    const table = initTable("#budgets-table", columns, data);

    document.getElementById("table-global-filter").addEventListener("keyup", function () {
        const val = this.value.toLowerCase();
        table.setFilter([
            [
                { field: "name", type: "like", value: val },
                { field: "value", type: "like", value: val },
                { field: "account_name", type: "like", value: val },
            ]
        ]);
    });
</script>
{% endblock %}