{% extends "base.html" %}

{% block title %}Budgets{% endblock %}

{% block content %}

<div class="cards-dashboard">
    <div class="card card-area-main card-large">
        <div class="card-header">
            <input type="text" id="table-global-filter" class="search-input" placeholder="🔍 Find Budgets..." />
        </div>

        <div class="card-body table-management">
            <div id="table">
                <div id="header" class="table-header">
                    <div class="table-col span-4 sortable" data-field="name">
                        Name
                        <span class="sort-indicator">↕</span>
                    </div>
                    <div class="table-col span-3 sortable" data-field="value">
                        Value
                        <span class="sort-indicator">↕</span>
                    </div>
                    <div class="table-col sortable" data-field="account">
                        Account
                        <span class="sort-indicator">↕</span>
                    </div>
                </div>

                {% for budget in budgets %}
                <div class="table-row">
                    <div class="table-col span-4" data-field="name">{{ budget.model.name }}</div>
                    <div class="table-col span-3" data-field="value">{{ budget.model.value }} €</div>
                    <div class="table-col" data-field="account">{{ budget.account_name }}</div>
                    <div class="table-actions">
                        <button class="btn btn-ghost btn-sm"
                            onclick='editRowModal("{{ budget.model.id }}", "{{ budget.model.name }}", "{{ budget.model.value }}", "{{ budget.model.account_id }}")'>Edit</button>
                        <button class="btn btn-ghost btn-sm" onclick='deleteRow("{{ budget.model.id }}", this)'>Delete</button>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="table-pagination">
                <button id="prev-btn" class="btn btn-ghost btn-sm">Previous</button>
                <span id="page-info" class="page-info"></span>
                <button id="next-btn" class="btn btn-ghost btn-sm">Next</button>
            </div>

        </div>
    </div>
</div>

<div id="edit-budget-modal" class="modal hidden">
    <div class="card card-elevated modal-card">
        <div class="card-header">
            <h3 class="card-title">Edit budget</h3>
            <button id="close-edit-budget-modal" class="btn btn-ghost btn-icon-only">×</button>
        </div>
        <div class="card-body">
            <form id="edit-budget-form" class="minimal-form">
                <input type="hidden" id="edit-budget-id" name="id">

                <div class="form-row">
                    <label for="edit-budget-name">Name</label>
                    <input type="text" id="edit-budget-name" name="name" required>
                </div>

                <div class="form-row">
                    <label for="edit-budget-account_id">Account</label>
                    <select id="edit-budget-account_id" name="account_id" required>
                        <option value="">-- Select an Account --</option>
                        {% for account in accounts %}
                        <option value="{{ account.id }}">{{ account.name }}
                        </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-row">
                    <label for="edit-budget-value">Value</label>
                    <input type="number" id="edit-budget-value" name="value" step="1.0">
                </div>

                <div class="form-row">
                    <button type="submit" class="btn btn-ghost btn-sm">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="module">
    import { CardsList } from "/static/js/table.js";

    document.addEventListener("DOMContentLoaded", () => {
        window.cardsList = new CardsList({
            tableSelector: '#table',
            headerSelector: '#header',
            searchInputId: 'table-global-filter',
            pageInfoId: 'page-info',
            perPage: 10
        });

        document.getElementById("prev-btn").addEventListener("click", () => cardsList.prevPage());
        document.getElementById("next-btn").addEventListener("click", () => cardsList.nextPage());
    });
</script>

<script type="module">
    function deleteRow(id, btn) {

        const row = btn.closest('.table-row');
        if (!row) return;

        const confirmed = confirm("Sei sicuro di voler eliminare questo budget?");
        if (!confirmed) return;

        fetch(`/budgets/${id}`, { method: 'DELETE' })
            .then(res => {
                if (!res.ok) throw new Error("Errore eliminazione");
                cardsList.deleteCard(row);
            })
            .catch(err => alert(err.message));

    }

    window.deleteRow = deleteRow;
</script>

<script type="module">
    function editRowModal(id, name, value, account_id) {
        document.getElementById("edit-budget-id").value = id;
        document.getElementById("edit-budget-account_id").value = account_id;
        document.getElementById("edit-budget-name").value = name;
        document.getElementById("edit-budget-value").value = value;
        document.getElementById("edit-budget-modal").classList.remove("hidden");
    }

    document.getElementById("close-edit-budget-modal").addEventListener("click", () => {
        document.getElementById("edit-budget-modal").classList.add("hidden");
    });

    document.getElementById("edit-budget-form").addEventListener("submit", async (e) => {
        e.preventDefault();
        const formData = new FormData(e.target);
        const id = formData.get("id");

        try {
            const response = await fetch(`/budgets/${id}`, {
                method: "POST",
                body: new URLSearchParams(formData)
            });

            if (response.ok) {
                location.reload();
            } else {
                alert("Errore aggiornando la transazione");
            }
        } catch (err) {
            alert("Errore di rete: " + err);
        }
    });

    window.editRowModal = editRowModal;
</script>
{% endblock %}