{% extends "base.html" %}
{% block title %}Categories{% endblock %}
{% block content %}
<h1>Categories</h1>
<ul>
    {% for category in categories %}
    <li>{{ category.transaction_type }} - {{ category.macro_category }} - {{ category.category }}</li>
    {% endfor %}
</ul>

<section class="form-section add-category-form">
    <h2>Add New Category</h2>
    <form class="minimal-form" method="post" action="/categories">

        <div class="form-row">
            <label for="category-type">Transaction Type</label>
            <input id="category-type" type="text" name="transaction_type" required>
        </div>

        <div class="form-row">
            <label for="category-macro">Macro Category</label>
            <input id="category-macro" type="text" name="macro_category" required>
        </div>

        <div class="form-row">
            <label for="category-name">Category</label>
            <input id="category-name" type="text" name="category" required>
        </div>

        <div class="form-row">
            <button type="submit" class="btn-submit">Add Category</button>
        </div>

    </form>
</section>

{% endblock %}