{% extends "base.html" %}
{% block title %}Categories{% endblock %}
{% block content %}
<h1>Categories</h1>

<div class="page-container">
    <section class="categories-section">
        <table class="custom-table">
            <thead>
                <tr>
                    <th>Transaction Type</th>
                    <th>Macro Category</th>
                    <th>Category</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                <tr class="category-row" data-id="{{ category.id }}">
                    <td>{{ category.transaction_type }}</td>
                    <td>{{ category.macro_category }}</td>
                    <td>{{ category.category }}</td>
                    <td><button class="delete-btn">💀</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

</div>


<section class="form-section add-category-form">
    <h2>Add New Category</h2>
    <form class="minimal-form" method="post" action="/categories">

        <div class="form-row">
            <label for="category-type">Transaction Type</label>
            <input id="category-type" type="text" name="transaction_type" required>
        </div>

        <div class="form-row">
            <label for="category-macro">Macro Category</label>
            <input id="category-macro" type="text" name="macro_category" required>
        </div>

        <div class="form-row">
            <label for="category-name">Category</label>
            <input id="category-name" type="text" name="category" required>
        </div>

        <div class="form-row">
            <button type="submit" class="btn-submit">Add Category</button>
        </div>

    </form>
</section>

<script type="module">
    import { deleteFromTable } from "/static/script.js";
    document.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll(".delete-btn").forEach(btn => {
            btn.addEventListener("click", async e => {
                const row = e.target.closest(".category-row");
                const id = row.dataset.id;
                const path = `/categories/${id}`;
                const message = `Sei sicuro di voler eliminare questa categoria?`;

                deleteFromTable(path, message, row);
            });
        });
    });
</script>

{% endblock %}