{% extends "base.html" %}
{% block title %}Categories{% endblock %}
{% block content %}

<div class="cards-dashboard">
    <div class="card card-area-main card-large">
        <div class="card-header">
            <button id="open-hidden-modal" class="btn btn-primary">
                <span class="btn-icon">+</span>
            </button>
            <input type="text" id="table-global-filter" placeholder="🔍 Find..." />
        </div>
        <div class="card-body">
            <div id="categories-table" class="tabulator custom-theme"></div>
        </div>
    </div>
</div>


<div id="hidden-modal" class="modal hidden">
    <div class="card card-elevated modal-card">
        <div class="card-header">
            <h2>Add new category</h2>
            <button id="close-hidden-modal" class="btn btn-ghost btn-icon-only">×</button>
        </div>

        <div class="card-body">
            <form class="minimal-form" method="post" action="/categories">

                <div class="form-row">
                    <label for="category-type">Transaction Type</label>
                    <input id="category-type" type="text" name="transaction_type" required>
                </div>

                <div class="form-row">
                    <label for="category-macro">Macro Category</label>
                    <input id="category-macro" type="text" name="macro_category" required>
                </div>

                <div class="form-row">
                    <label for="category-name">Category</label>
                    <input id="category-name" type="text" name="category" required>
                </div>

                <div class="form-row">
                    <button type="submit" class="btn-submit">Add Category</button>
                </div>

            </form>
        </div>
    </div>
</div>

<script type="module">
    import { initHiddenModal } from "/static/js/modals.js";

    initHiddenModal("open-hidden-modal", "hidden-modal", "close-hidden-modal");
</script>

<script type="module">
    import { initTable, deleteFromTable } from "/static/js/tables.js";

    const data = [
        {% for category in categories %}
    { id: "{{ category.id }}", transaction_type: "{{ category.transaction_type }}", macro_category: "{{ category.macro_category }}", category: "{{ category.category }}" },
    {% endfor %}
  ];

    const columns = [
        { title: "Transaction Type", field: "transaction_type", sorter: "string" },
        { title: "Macro Category", field: "macro_category", sorter: "string" },
        { title: "Category", field: "category", sorter: "string" },
        {
            title: "",
            hozAlign: "center",
            width: 60,
            formatter: () => `<button class="delete-btn">💀</button>`,
            cellClick: (e, cell) => {
                const rowData = cell.getRow().getData();
                const row = cell.getRow();

                const path = `/categories/${rowData.id}`;
                const message = `Sei sicuro di voler eliminare questa categoria?`;

                deleteFromTable(path, message, row);
            }
        }
    ];

    const table = initTable("#categories-table", columns, data);

    document.getElementById("table-global-filter").addEventListener("keyup", function () {
        const val = this.value.toLowerCase();
        table.setFilter([
            [
                { field: "transaction_type", type: "like", value: val },
                { field: "macro_category", type: "like", value: val },
                { field: "category", type: "like", value: val },
            ]
        ]);
    });
</script>

{% endblock %}