{% extends "base.html" %}

{% block title %}Rules{% endblock %}

{% block content %}


<div class="cards-dashboard">
    <div class="card card-area-main card-large">
        <div class="card-header">
            <input type="text" id="table-global-filter" placeholder="🔍 Find..." />
        </div>

        <div class="card-body">
            <div id="rules-table" class="tabulator custom-theme"></div>
        </div>
    </div>
</div>

<script type="module">
    import { initTable, deleteFromTable } from "/static/js/tables.js";

    const data = [
        {% for rule in rules %}
    { id: "{{ rule.id }}", name: "{{ rule.name }}", label: "{{ rule.label }}", percentage: "{{ rule.percentage }}", category_name: "{{ rule.category_name }}", regexpr: "{{ rule.regexpr }}", date_start: "{{ rule.date_start }}", date_end: "{{ rule.date_end }}" },
    {% endfor %}
  ];

    const columns = [
        { title: "Name", field: "name", sorter: "string" },
        { title: "Label", field: "label", sorter: "string" },
        { title: "Percentage", field: "percentage", sorter: "number" },
        { title: "Category", field: "category_name", sorter: "string" },
        { title: "Regular Expression", field: "regexpr", sorter: "string" },
        { title: "Date Start", field: "date_start", sorter: "date", hozAlign: "center" },
        { title: "Date End", field: "date_end", sorter: "date", hozAlign: "center" },
        {
            title: "",
            hozAlign: "center",
            width: 60,
            formatter: () => `<button class="delete-btn">💀</button>`,
            cellClick: (e, cell) => {
                const rowData = cell.getRow().getData();
                const row = cell.getRow();

                const path = `/rules/${rowData.id}`;
                const message = `Sei sicuro di voler eliminare questa regola?`;

                deleteFromTable(path, message, row);
            }
        }
    ];

    const table = initTable("#rules-table", columns, data);

    document.getElementById("table-global-filter").addEventListener("keyup", function () {
        const val = this.value.toLowerCase();
        table.setFilter([
            [
                { field: "name", type: "like", value: val },
                { field: "label", type: "like", value: val },
                { field: "percentage", type: "like", value: val },
                { field: "category_name", type: "like", value: val },
                { field: "regexpr", type: "like", value: val },
                { field: "date_start", type: "like", value: val },
                { field: "date_end", type: "like", value: val },
            ]
        ]);
    });
</script>
{% endblock %}