.transactions-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: var(--transactions-table-margin-bottom, 30px);
}

.transactions-table th,
.transactions-table td {
    border: 1px solid var(--transactions-table-border, #ddd);
    padding: var(--transactions-table-cell-padding, 8px);
    text-align: left;
}

.transactions-table th {
    background-color: var(--transactions-table-th-bg, #f9f9ff);
}